<h1>Hello, Rails!</h1>
<%= link_to "My Blog", posts_path %>
<% if user_signed_in? %>
  <%= current_user.name %>さん /
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "ユーザ情報の編集", edit_user_registration_path %>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>
<% end %>

<h5>すべてのアカウント</h5>
<% @users.each do |user| %>
  <p>User: <%= user.name %> / <%=link_to user.name, user %> </p>
<% end %>