<% if !user_signed_in? %>
  <h2>Welcome to kawaimi!</h2>
  <p style="color: #888; font-size: 18px;">Discover "kawaii", collect the things you love. Sign up today and start curate your own "kawaimi".</p><br /><br />
<% end %>
<% @posts.latest.each_with_index do |post, i| %>
  <li>
    <% if i % 3 == 0 then %>
      <div class="figure figure-640">
        <%= link_to post do %>
          <figure>
            <span class="fig-image">
              <%= image_tag post.image.url(:large) %>
            </span>
          </figure>
        <% end %>
        <%= render :partial => "kawaimibutton", :object => post %>
      </div>
    <% else %>
      <% if i % 3 == 1 then %>
        <div class="figure figure-310 first">
          <%= link_to post do %>
            <figure>
              <span class="fig-image">
                <%= image_tag post.image.url(:medium) %>
              </span>
            </figure>
          <% end %>
          <%= render :partial => "kawaimibutton", :object => post %>
        </div>
      <% else %>
        <div class="figure figure-310">
          <%= link_to post do %>
            <figure>
              <span class="fig-image">
                <%= image_tag post.image.url(:medium) %>
              </span>
            </figure>
          <% end %>
          <%= render :partial => "kawaimibutton", :object => post %>
        </div>
      <% end %>
    <% end %>
  </li>
<% end %>
