<% @posts.each_with_index do |post, i| %>
  <li>
    <% if i % 3 == 0 then %>
      <div class="figure figure-640">
        <%= link_to post do %>
          <figure>
            <span class="fig-image">
              <%= image_tag post.image.url(:large) %>
            </span>
          </figure>
        <% end %>
        <a href="#" class="btn btn-large btn-primary btn-kawaimi"><i class="icon-heart icon-white"></i> kawaimi</a>
      </div>
    <% else %>
      <% if i % 3 == 1 then %>
        <div class="figure figure-310 first">
          <%= link_to post do %>
            <figure>
              <span class="fig-image">
                <%= image_tag post.image.url(:medium) %>
              </span>
            </figure>
          <% end %>
          <a href="#" class="btn btn-large btn-primary btn-kawaimi"><i class="icon-heart icon-white"></i> kawaimi</a>
        </div>
      <% else %>
        <div class="figure figure-310">
          <%= link_to post do %>
            <figure>
              <span class="fig-image">
                <%= image_tag post.image.url(:medium) %>
              </span>
            </figure>
          <% end %>
          <a href="#" class="btn btn-large btn-primary btn-kawaimi"><i class="icon-heart icon-white"></i> kawaimi</a>
        </div>
      <% end %>
    <% end %>
  </li>
<% end %>
