<h2>Stream</h2>

<%= link_to 'New Post', new_post_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each_with_index do |post, i| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <% if i % 3 == 0 then %>
      <td><%= image_tag post.image.url(:large) %></td>
    <% else %>
      <td><%= image_tag post.image.url(:medium) %></td>
    <% end %>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>

<br />


